<!DOCTYPE html>
<html>
  <head>
    <title>BreadLove</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag('favicon.ico') %>
    <% breadcrumb :root %>
    <%= breadcrumbs pretext: "You are here:",separator: " &rsaquo; " %> 
  </head>
  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">BreadLove</a></h1>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <span><%= current_user.nickname %>
            <ul class="user__info">
              <li>
                <%= link_to "マイページ", "/users/#{current_user.id}" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </span>
            <%= link_to "投稿する", new_tweet_path, class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
              <%= link_to "ログイン", new_user_session_path, class: "post" %>
              <%= link_to "新規登録", new_user_registration_path, class: "post" %>
              <%= link_to "閲覧用", users_guest_sign_in_path, class: "post", method: :post %>
          </div>
        <% end %>
      </div>
    </header>
      <%= yield %>
    <footer>
      <div class="footer">
        <p>
          Copyright BreadLove 2020.
        </p>
      </div>
    </footer>
  </body>
</html>